body {
   margin: 0%;
}
.orange {
    color: orangered;
}
h1 {
    font-size: 50px;
}
.flexible-continear {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 7%;
}
.half-width img {
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 98, 8), rgb(223, 204, 169));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.top-bannar {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}
.down-bannar {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.orange-color{
    color: blue;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(123, 241, 12);
} 
.experience-area{
    background-image: url(photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#developer{
    border-left: 7px solid rgb(2, 114, 90);

}
#full-stack{
    border-left: 7px solid purple;

}
footer p {
    text-align: center;
}