body {
   margin: 0%;
}
.orange {
    color: orangered;
}
h1 {
    font-size: 50px;
}
section {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 10%;
}
.half-width img {
    width: 100%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 98, 8), rgb(223, 204, 169));
    padding: 10px 40px;
    border-radius: 5px;
}
.top-bannar {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}
.down-bannar {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    
}